*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#mainTitle{
    text-align: center;
    background-color: aquamarine;
    margin-top: 20px;

}

.appDiv{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputField{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
